.about,
.skill-charts {
    display: flex;
    flex-direction: column;
    margin: 0 1rem 1rem;
}

.about h2 {
    margin: 0 0 0.6rem;
}

.about-text {
    margin: 0 0 3rem;
}

.skill-charts {
    width: 100%;
    gap: 3rem;
} 

@media(min-width: 60em) {
    .skill-charts,
    .about {
        --column-gap: 3rem;
        gap: --column-gap;
        width: calc(50% - (var(--column-gap)/2));
    }
}

@media(min-width: 60em) {
    .skill-charts,
    .about {
        margin: 0;
        --column-gap: 6rem;
        gap: --column-gap;
    }
}

.skill-chart {
    width: 100%;
    h2 {
        margin: 0 0 1rem;
    }
}

.chart-footer {
    margin: 0.5rem 0 0;
    display: flex;
    justify-content: space-between;
    opacity: 0.5;
}

.skill-bars {
    display: grid;
    gap: 0.5rem;
    margin: 0;
    padding: 0 ;
    list-style: none;
    background-image:  linear-gradient(90deg, rgba(0, 0, 0, 0.25) 2px, transparent .1em);
    background-size: 25%;
    background-position: 32% 50%;
}

.barUnit {
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.bar {
    height: 1.65rem;
    background-color: var(--clr-primary);
    width: 0;
    transform-origin: center left;
}
  
.barCopy span {
    padding: 0.125rem 0 x;
    background: var(--clr-secondary);
}

.focus {
    --flex-gap: 1rem;
    padding: 1rem 0 0;
    margin: 0 0 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: var(--flex-gap);
    width: 100%;
    .header-mask {
        width: 100%;
    }
    .header-mask h2 {
        margin: 0;
    }
}

.current-parent {
    --flex-items: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    width: calc((100% / var(--flex-items)) - (((var(--flex-items) - 1) / var(--flex-items)) * var(--flex-gap)));
    color: var(--clr-primary);
    .current-parent span {
        font-size: 14px;
        font-weight: 700;
        @media(min-width: 60em) {
            font-size: 1.2rem;
        }
    }
}

.current-sibling {
    margin: 0 0 0.25rem;
    width: 100%;
    display: grid;
    place-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--clr-primary);
    aspect-ratio: 1;
    @media(min-width: 60em) {
        padding: 2rem;
    }
}
