
.about h2 {
    margin: 0 0 1rem;
}

.skill-charts {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4rem;
} 

@media(min-width: 58em) {
    .skill-charts,
    .about {
        --column-gap: 3rem;
        gap: --column-gap;
        width: calc(50% - (var(--column-gap)/2));
    }
}

@media(min-width: 78em) {
    .skill-charts,
    .about {
        --column-gap: 6rem;
        gap: --column-gap;
    }
}

.skill-chart {
    position: relative;
    width: 100%;
    h2 {
        margin: 0 0 1rem;
    }
}

.chart-footer {
    margin: 0.5rem 0 0;
    display: flex;
    justify-content: space-between;
    opacity: 0.5;
}

.skill-bars {
    display: grid;
    gap: 0.5rem;
    margin: 0;
    padding: 0 ;
    list-style: none;
    background-image:  linear-gradient(90deg, rgba(0, 0, 0, 0.25) 2px, transparent .1em);
    background-size: 25%;
    background-position: 32% 50%;
    // background-color: #f30;
}

.barUnit {
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.bar {
    height: 1.65rem;
    background-color: var(--fc-primary);
    width: 0;
    transform-origin: center left;
}
  
.barCopy span {
    padding: 0.125rem 0 x;
    background: var(--background);
}

.current-container {
    --flex-gap: 1rem;
    padding: 2rem 0 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: var(--flex-gap);
    width: 100%;
    // background: white;
}

.current {
    --flex-items: 4;
    gap: var(--flex-gap);
    padding: 2rem;
    background-color: var(--fc-primary);
    border-radius: 0.25rem;
    width: calc((100% / var(--flex-items)) - (((var(--flex-items) - 1) / var(--flex-items)) * var(--flex-gap)));
    aspect-ratio: 1;
    color: var(--background);
}