.btn {
  border: 0;
  align-items: center;
  background-color:  var(--fc-primary);
  border-radius: .25rem;
  color: var(--background);
  padding: 1rem;
  font-weight: 900;
  text-decoration: none;
  user-select: none;
  width: auto;
}

.btn:hover,
.btn:focus {
  background-color: var(--clr-accent-100);
  color: var(--fc-primary);

}

.btn:active {
  background-color: var(--clr-accent-100);
}