.btn {
  border: 0;
  align-items: center;
  background-color:  var(--clr-primary);
  border-radius: .25rem;
  color: var(--clr-secondary);
  padding: 1rem;
  font-weight: 900;
  text-decoration: none;
  user-select: none;
  width: auto;
}

.btn:hover,
.btn:focus {
  background-color: var(--clr-accent);
  color: var(--clr-primary);

}

.btn:active {
  background-color: var(--clr-accent);
}