.home {
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  // background: red;
}

.home h1,
.home h2 {
  margin:0;
  padding:0;
}

.homeCopy {
  display: grid;
  place-items: center;
  gap: 2rem;
}

.homeContainer {
  width: 100%;
  height: 100vh;
  height: 100svh;
  display: grid;
  place-content: center;    
}

.homeContainer > * {
  grid-area: stack;
}