/* navigation */
.logo {
  overflow: hidden;
}

.header {
  padding: 3rem 0;
  z-index: 9997;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  margin: 0;
  user-select: none;
}

.active {
  background-color: var(--fc-primary);
  color: var(--background);
  font-weight: 900;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1200px;
  position: sticky;
  top: 0;
}

@media (max-width: 1260px) {
  nav {
    width: 100%;
    padding: 0 3rem;
  }
}

@media (max-width: 60em) {
  nav {
    width: 100%;
    padding: 0 1rem;
  }
}

nav .title {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  margin:0;
  font-weight: 900;
  text-decoration: none;
  color: var(--fc-primary);
  // color: #fb8332;
}

nav ul {
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;
  padding:0;
  gap: 1rem;
}

nav ul li {
 list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: var(--fc-primary);
  font-weight: 900;
  padding: 0.5rem 1rem;
  margin: 0;
  border-radius: 0.25rem;
}

nav ul li a:not(.active):hover {
  background-color:  var(--clr-accent-100);
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.65rem;
  right: 1.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 1.5rem;
}

nav .menu span {
  height: 0.2rem;
  width: 100%;
  background-color: var(--fc-primary);
  border-radius: 0.2rem;
}

@media (max-width: 60em) {
  nav .menu {
      display: flex;
  }

  nav {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      padding: 0;
  }

  nav ul {
      display: none;
      padding: 3rem 0;
      flex-direction: column;
      width: 100%;
      margin:0 0 0.25rem;
      height: 100vh;
      z-index: 9999;
      // background: green;
  }

  nav ul.open {
      display: flex;
      background: var(--background);
  }

  nav ul li {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      // background: #f30;
  }

  nav ul li a {
      padding: 1rem 2rem;
  }

  .logo {
    margin-left: 1rem;               
  }
}

.githubLink {
  margin: 0;
  padding: 0;

  
}

.githubLink svg {
  margin: 0;
  width: 35px;
  // background: green;
}