:root {
    --fc-primary: #0c1617;
    // --fc-primary: hsl(183, 50%, 8%);
    --background: hsl(176, 32%, 75%);
  
    --clr-accent-100: rgb(124, 177, 173);

    --ff-primary: 'Verdana', sans-serif;
    --ff-heading: 'Kumbh Sans', sans-serif;
}
  @media (min-width: 50em) {
    :root {

    }
  }